a {
    color: blue;
    text-decoration: underline;
}

fieldset.content {
    display: inline-block;
    min-height: 150px;
    float: left;
}

.remark {
    color: #555555;
    font-size: 12px;
}

.block-title {
    display: block;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}